<html>
  <head>
    <title>Gladnytt – den trivelige nyhetssiden</title>
    <link rel="stylesheet" href="/output.css?v={{ .CssHash }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="/htmx.min.js?v=2.0.3"></script>
  </head>

  <body>
    <main class="mx-auto max-w-3xl px-4 pb-24 pt-8 text-gray-800">
      <h1 class="text-3xl">
        Gladnytt – den <i class="italic">trivelige</i> nyhetssiden
      </h1>

      <p class="mt-2 text-sm text-gray-500">
        Nyheter levert av
        <a
          class="underline underline-offset-2"
          href="https://www.nrk.no/toppsaker.rss"
          >NRK</a
        >.
      </p>

      <div>
        {{ block "articles" . }}
          {{ range .Articles }}
            <div>
              <div class="my-8 h-px bg-gray-200"></div>

              <a
                href="{{ .ArticleUrl }}"
                class="flex flex-col gap-5 sm:flex-row"
              >
                <img
                  class="aspect-video rounded sm:h-40"
                  src="{{ .ImageUrl }}"
                  alt="{{ .Title }}"
                />

                <div class="flex-1">
                  <p class="text-xs font-medium text-gray-600">
                    {{ .Time.Format "Monday, 15:04" }}
                  </p>
                  <h3 class="mb-2 mt-1 text-xl font-medium">
                    {{ .Title }}
                  </h3>

                  <p class="line-clamp-3">
                    {{ .Description }}
                  </p>
                </div>
              </a>
            </div>
          {{ end }}


          <img
            hx-get="/articles/{{ .NextPage }}"
            hx-trigger="revealed"
            hx-swap="outerHTML"
            hx-replace-url="/?page={{ .NextPage }}"
            src="/loading.svg"
            alt="Loading..."
            class="mx-auto mt-8 h-10"
          />
        {{ end }}
      </div>
    </main>
  </body>
</html>
